# Demo for module timeSeriesHelper

<a href="https://colab.research.google.com/drive/1SaHahlVM7IgaT-wMa3kw_4WCz2ea-8tR?usp=sharing" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab"/></a>

## Install and import
**Please restart colab runtime before import, else a ModuleNotFoundError will be returned**

In [18]:
!pip install --user -e git+https://github.com/mx-hxh/time-series-helper.git#egg=timeSeriesHelper

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Obtaining timeSeriesHelper from git+https://github.com/mx-hxh/time-series-helper.git#egg=timeSeriesHelper
  Updating ./src/timeserieshelper clone
  Running command git fetch -q --tags
  Running command git reset --hard -q 3206bdc5762be1e780ccd1e698614e7c4dad15c7
Installing collected packages: timeSeriesHelper
  Attempting uninstall: timeSeriesHelper
    Found existing installation: timeSeriesHelper 1.0
    Uninstalling timeSeriesHelper-1.0:
      Successfully uninstalled timeSeriesHelper-1.0
  Running setup.py develop for timeSeriesHelper
Successfully installed timeSeriesHelper-1.0

In [19]:
import timeSeriesHelper as tsh
import numpy as np
import pandas as pd

## Demo for check_column_homo
The function checks each column of a dataframe to see if all of its columns are homogeneous (having same dtype across all elements)

In [7]:
testdf = pd.DataFrame(
    {'col1':[1,2,'string',3,np.nan],
     'col2':[1,2,3,4,5],
     'datetime':np.array(['2022-10-15 11:00:00', '2022-10-15 11:10:00','2022-10-15 11:20:00',
                          '2022-10-15 11:30:00','2022-10-15 12:00:00']).astype('datetime64[ns]')       
    }
)

In [10]:
tsh.check_column_homo(df = testdf)

,is_same_dtype,dtype_count,dtype_list
col1,False,3,"[<class 'float'>, <class 'int'>, <class 'str'>]"
col2,True,1,[<class 'int'>]
datetime,True,1,[<class 'pandas._libs.tslibs.timestamps.Timest...

## Demo for check_miss_timestep
This function check a dataframe with a time series column, whether it has missing time steps

In [13]:
isMissingStep, missingSteps, fullTimeSteps = tsh.check_miss_timestep(df = testdf,
                                                                     timeCol = 'datetime',
                                                                     maxTime = max(testdf.datetime),
                                                                     minTime = min(testdf.datetime),
                                                                     interval = np.timedelta64(10, 'm'))

In [16]:
print('isMissingStep: ' + str(isMissingStep))
print('missingSteps: ' + str(missingSteps))
print('fullTimeSteps: ' + str(fullTimeSteps))

isMissingStep: True
missingSteps: {numpy.datetime64('2022-10-15T11:40:00.000000000'), numpy.datetime64('2022-10-15T11:50:00.000000000')}
fullTimeSteps: ['2022-10-15T11:00:00.000000000' '2022-10-15T11:10:00.000000000'
 '2022-10-15T11:20:00.000000000' '2022-10-15T11:30:00.000000000'
 '2022-10-15T11:40:00.000000000' '2022-10-15T11:50:00.000000000'
 '2022-10-15T12:00:00.000000000']

## Demo for fill_miss_step
This function adds the missing time steps to the pandas dataframe as  used in time series analysis and fill

In [17]:
tsh.fill_miss_step(testdf, timeCol = 'datetime', fullTimeSpan = fullTimeSteps, fillValue = np.nan)

             datetime    col1  col2
0 2022-10-15 11:00:00       1   1.0
1 2022-10-15 11:10:00       2   2.0
2 2022-10-15 11:20:00  string   3.0
3 2022-10-15 11:30:00       3   4.0
4 2022-10-15 11:40:00     NaN   NaN
5 2022-10-15 11:50:00     NaN   NaN
6 2022-10-15 12:00:00     NaN   5.0